# **** {{ ansible_managed }} ****

Acquire::Languages "none";
Acquire::GzipIndexes "true";

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::MaxAge "3";

aptitude::UI::Advance-On-Action "true";
aptitude::UI::Prompt-On-Exit "false";
aptitude::UI::Menubar-Autohide "true";
