# **** {{ ansible_managed }} ****

[Unit]
Description=setup IPv6 using DUID
ConditionFileNotEmpty={{ ipv6_duid__dhclient_conf_file }}
ConditionPathIsDirectory={{ ipv6_duid__dhclient_lib_dir }}
Requires=network-online.target
After=network-online.target

[Service]
Type=simple

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
PrivateDevices=true
ProtectKernelTunables=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ ipv6_duid__dhclient_lib_dir }}
ProtectHome=read-only
RestrictNamespaces=true

RuntimeDirectory=dhclient
ExecStart=/sbin/dhclient -d -cf {{ ipv6_duid__dhclient_conf_file }} -pf {{ ipv6_duid__dhclient_pid_file }} -6 -P -v {{ ipv6_duid__interface }}
ExecStop=/sbin/dhclient -r -pf {{ ipv6_duid__dhclient_pid_file }} -6 {{ ipv6_duid__interface }}
TimeoutStopSec=8s
Restart=always
RestartSec=16s

[Install]
WantedBy=multi-user.target
