# **** {{ ansible_managed }} ****

if [ $reason = RELEASE6 ] && [ -n "${old_ip6_prefix}" ]; then
  run_cmd() {
    echo $*
    $*
  }

  for a in `ip -6 a sh dev $interface scope global |awk '/inet6 / {print $2}'`; do
    run_cmd "ip -6 a d $a dev $interface"
  done

  run_cmd "ip -6 r d default dev $interface"
fi
