# **** {{ ansible_managed }} ****

[Unit]
Description=setup IPv6 using DUID
ConditionFileNotEmpty={{ ipv6_duid__dhclient_conf_file }}
ConditionPathIsDirectory={{ ipv6_duid__dhclient_lib_dir }}
Requires=network-online.target
After=network-online.target

[Service]
Type=simple

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
PrivateDevices=true
ProtectKernelTunables=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ ipv6_duid__dhclient_lib_dir }}
ProtectHome=read-only
RestrictNamespaces=true

ExecStart=/sbin/dhclient -d --no-pid -cf {{ ipv6_duid__dhclient_conf_file }} -6 -P -v {{ ipv6_duid__interface }}
TimeoutStopSec=8s
Restart=always
RestartSec=16s

[Install]
WantedBy=multi-user.target
