# **** {{ ansible_managed }} ****

[Unit]
Description=Renew certificates
Wants=dehydrated-pre.service
After=dehydrated-pre.service
Requires=dehydrated-post.service
ConditionFileIsExecutable={{ dehydrated__cmd_path }}

[Service]
Type=oneshot
User={{ dehydrated__user }}

ProtectSystem=strict
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
CapabilityBoundingSet=
PrivateTmp=true
ReadWritePaths={{ dehydrated__var_dir }}

{% if dehydrated__exec_start_pre is defined %}
ExecStartPre=+/bin/sh -c " \
{%   for el in dehydrated__exec_start_pre %}
  {{ el }}; \
{%   endfor %}
  "
{% endif %}
ExecStart={{ dehydrated__cmd_path }} -c --accept-terms
{% if dehydrated__exec_start_post is defined %}
ExecStartPost=+/bin/sh -c " \
{%   for el in dehydrated__exec_start_post %}
  {{ el }}; \
{%   endfor %}
  "
{% endif %}
