# **** {{ ansible_managed }} ****

[Unit]
Description=memcached at {{ memcached__v_systemd_loop.key }}/tcp
PartOf=memcached.target
After=network.target
Conflicts=shutdown.target

[Service]
User={{ memcached__user }}
WorkingDirectory=/
PrivateTmp=yes
ProtectSystem=full
CapabilityBoundingSet=
PrivateDevices=true
NoNewPrivileges=true
ReadOnlyDirectories=/
ExecStart=/usr/bin/memcached -l {{ memcached__v_systemd_loop.value.loopback |default(true) |ternary('127.0.0.1','0.0.0.0') }} \
                             -p {{ memcached__v_systemd_loop.key }} \
                             -m {{ ((ansible_memory_mb.real.total|float) * (memcached__v_systemd_loop.value.mem |default(0.10) |float)) |int }}
TimeoutStopSec=3s
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=memcached.target
