# **** {{ ansible_managed }} ****

[Unit]
Description=memcached at {{ memcached__v_systemd_loop.key }}/tcp
PartOf=memcached.target
After=network.target
Conflicts=shutdown.target

[Service]
Slice=system-memcached.slice
DynamicUser=true
WorkingDirectory=/
CapabilityBoundingSet=
PrivateDevices=true
ProtectKernelTunables=true
NoNewPrivileges=true
ExecStart=/usr/bin/memcached -l {{ memcached__v_systemd_loop.value.loopback |default(memcached__loopback_default) |ternary('127.0.0.1','0.0.0.0') }} \
                             -p {{ memcached__v_systemd_loop.key }} \
                             -m {{ ((ansible_memory_mb.real.total|float) * (memcached__v_systemd_loop.value.mem |default(memcached__mem_default) |float)) |int }} \
                             -I {{ memcached__v_systemd_loop.value.slab_page_size |default('1m') }}
TimeoutStopSec=3s
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=memcached.target
