---
common_sshd__conf_dir: '/etc/ssh'
common_sshd__binary_path: '/usr/sbin/sshd'

common_sshd__rsa_key: "{{ common_sshd__conf_dir }}/ssh_host_rsa_key"
common_sshd__ed25519_key: "{{ common_sshd__conf_dir }}/ssh_host_ed25519_key"

common_sshd__dsa_key: "{{ common_sshd__conf_dir }}/ssh_host_dsa_key"
common_sshd__ecdsa_key: "{{ common_sshd__conf_dir }}/ssh_host_ecdsa_key"

common_sshd__distro_string: "{{ ansible_distribution |lower }}_{{ ansible_distribution_release }}"


common_sshd__password_authentication: 'no'
