# **** {{ ansible_managed }} ****

# For Debian 10 'buster'

Port 22
{% if sshd_extra_port is defined %}
Port {{ sshd_extra_port }}
{% endif %}

HostKey {{ common_sshd__rsa_key }}
HostKey {{ common_sshd__ed25519_key }}

KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519,ssh-rsa-cert-v01@openssh.com,ssh-rsa

LogLevel VERBOSE

AuthorizedKeysFile %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
PasswordAuthentication {{ common_sshd__password_authentication }}
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes

PrintMotd no
DebianBanner no

LoginGraceTime 30
