# **** {{ ansible_managed }} ****

Port 22
{% if sshd_extra_port is defined %}
Port {{ sshd_extra_port }}
{% endif %}

HostKey {{ common_sshd__rsa_key }}
HostKey {{ common_sshd__ed25519_key }}

KexAlgorithms {{ ssh_facts.kex.selected|join(",") }}
Ciphers {{ ssh_facts.cipher.selected|join(",") }}
MACs {{ ssh_facts.mac.selected|join(",") }}
HostKeyAlgorithms {{ ssh_facts.key.selected|join(",") }}

LogLevel VERBOSE

AuthorizedKeysFile %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
PasswordAuthentication {{ common_sshd__password_authentication }}
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes

PrintMotd no
DebianBanner no

LoginGraceTime 30
