# ****  {{ ansible_managed }} ****

Address = {{ tinc__v_net_hosts_loop.value.ansible_default_ipv4_address }}
{% set ipv6_addr = tinc__v_net_hosts_loop.value.ansible_default_ipv6_address %}
{% if ipv6_addr %}
Address = {{ ipv6_addr }}
{% endif %}
Port = {{ tinc__v_config_net.port }}
Compression = {{ tinc__compression }}
{% if tinc__v_config_net.mode is not defined or tinc__v_config_net.mode == 'router' %}
Subnet = {{ tinc__v_net_hosts_loop.value.address }}
{%   for r in tinc__v_net_hosts_loop.value.routes %}
Subnet = {{ r }}
{%   endfor %}
{% endif %}
Ed25519PublicKey = {{ tinc__v_net_hosts_loop.value.pub_key }}
