#!/bin/bash
# **** {{ ansible_managed }} ****

netmask={{ tinc__v_config_net.mask }}
{% if ansible_virtualization_type == 'openvz' %}
ip={{ tinc__ip_binary_local }}
{% else %}
ip={{ tinc__ip_binary_orig }}
{% endif %}

case $NAME in
{% for h in play_hosts %}
  {{ hostvars[h].tinc_facts.nets[tinc__v_config_net_name].host_name }})
    ipaddr='{{ hostvars[h].tinc__nets[tinc__v_config_net_name].address }}'
    routes='{{ hostvars[h].tinc__nets[tinc__v_config_net_name].routes |default([]) |join(' ') }}'
    ;;
{% endfor %}
  *)  exit 1 ;;
esac

$ip l s ${INTERFACE} up
$ip a a $ipaddr/$netmask dev ${INTERFACE}
for r in $routes; do
  $ip r a $r via $ipaddr dev ${INTERFACE}
done

exit 0
