#!/bin/bash
# **** {{ ansible_managed }} ****

netmask={{ tinc__v_config_net.mask }}
{% if ansible_virtualization_type == 'openvz' %}
ip={{ tinc__ip_binary_local }}
{% else %}
ip={{ tinc__ip_binary_orig }}
{% endif %}

case $NAME in
{% for h in play_hosts %}
  {{ hostvars[h].tinc_facts.nets[tinc__v_config_net_name].host_name }})
    ipaddr='{{ hostvars[h].tinc__nets[tinc__v_config_net_name].address }}' ;;
{% endfor %}
  *)  exit 1 ;;
esac

$ip l s ${INTERFACE} up
$ip a a $ipaddr/$netmask dev ${INTERFACE}

{% for h in play_hosts %}
{%   set routes = hostvars[h].tinc__nets[tinc__v_config_net_name].routes |default([]) %}
{%   if routes %}
if [[ "$NAME" = "{{ hostvars[h].tinc_facts.nets[tinc__v_config_net_name].host_name }}" ]]; then
{%     for r in routes %}
  $ip r a unreachable {{ r }}
{%     endfor %}
else
{%     for r in routes %}
{%       if tinc__v_config_net.mode is not defined or tinc__v_config_net.mode == 'router' %}
  $ip r a {{ r }} dev ${INTERFACE}
{%       else %}
  $ip r a {{ r }} via {{ hostvars[h].tinc__nets[tinc__v_config_net_name].address }} dev ${INTERFACE}
{%       endif %}
{%     endfor %}
fi
{%   endif %}
{% endfor %}

exit 0
