# **** {{ ansible_managed }} ****

Name = {{ ansible_hostname }}
AutoConnect = yes
Interface = {{ tinc__v_config_net.iface }}
ListenAddress = * {{ tinc__v_config_net.port }}
LocalDiscovery = no
ExperimentalProtocol = yes
Mode = {{ tinc__v_config_net.mode |default('router') }}
KeyExpire = 1800
MaxTimeout = 300
