# **** {{ ansible_managed }} ****

server:
  reuseport: yes
  verbosity: 1

  hide-version: yes
  identity: "{{ nsd__identity }}"
{% if nsd__minimal_responses %}
  minimal-responses: yes
{% endif %}
  round-robin: yes

{% if nsd__slave_base is defined %}
  zonefiles-write: {{ nsd__zonefiles_write }}
{% endif %}

{% for k,v in nsd__keys.items() %}
key:
  name:      {{ k }}
  algorithm: {{ v.algorithm }}
  secret:    "{{ v.secret }}"
{% endfor %}

{% for k,v in nsd__zones.items() %}
zone:
  name:         "{{ k }}"
{%   if nsd__slave_base is defined %}
  zonefile:     "{{ nsd__slave_base }}/{{ k }}"
{%   endif %}
  allow-notify: {{ v.master }} {{ v.key }}
  request-xfr:  AXFR {{ v.master }} {{ v.key }}
{% endfor %}

{% for k,v in nsd__master_zones.items() %}
zone:
  name:         "{{ k }}"
  zonefile:     "{{ nsd__master_base }}/{{ k }}"
{%   for ip,k in v.slaves_xfr.items()|default({}) %}
  provide-xfr:  {{ ip }} {{ k }}
{%   endfor %}
{%   for ip,k in v.slaves_notify.items()|default({}) %}
  notify:       {{ ip }} {{ k }}
{%   endfor %}
{% endfor %}
